@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
$defaultFont: 'Montserrat', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;
$fontBlack: 900;

$primaryColor: #F4B93A;
$secondaryColor: #403D39;
$white: #f8ecdf;
$gray: #252422;
$subtitle: #a8a39d;
$mediumGray: darken($gray, 3%);
$dark-grey: darken($gray, 7%);
$black: #1a1917;

